  
.veri-verified-fill {
    fill: #FF99CC;
  }
  .veri-verified {
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  #veri-verified-icon {
    width: 100%;
    height: 100%;
  }